@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/*
Arquivos reset foram trocados pelo import do normalize no index.tsc de src.
Foi colocado via "npm install normalize.css" do terminal. No caso do comando recomendado não funcionar (como neste caso e no do instrutor)

O comando seria "@import-normalize;".

Devemos tentar utilizá-lo em projetos subsequentes.
*/

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}
